@font-face {
	font-family: DistProTh;
	src: url('DistProTh.otf');
}

body {
	background-color: #111;
}

.mainbg {
	background-image: url("bgmain.jpg");
	background-repeat: no-repeat;
	background-size: cover
}

.contactbg {
	background-image: url("mountainbg.jpg");
	background-repeat: no-repeat;
	background-size: cover
}

.homebutton {
	margin: auto;
	margin-top: 20px;
	border-width: 0;
	padding: 15px 20px 15px 20px;
	font-family: DistProTh;
	font-size: 1.3em;
	font-weight: 100;
	letter-spacing: 2;
	text-align: center;
	display: block;
}

.nospace {
	padding: 0;
	margin: 0;
}

.clear {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.navbar {
	padding: 0 8% 0 8%;
	/*background-color: #111;*/
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}



.navbar-header {
}

.navbar-toggle {
	background-image: url('menuicon.svg');
	background-size: 100%;
}

.brandimg {
	padding-bottom: 5px;
	padding-right: 5px;
	height: 68px;
}

.navbar-nav>li {
	padding: 0;
	margin: 0;
}

.navbar-nav>li>a {
	display: block;
	height: 100px;
	padding: 0;
	padding-left: 30px;
	padding-right: 30px;
	margin: auto;
	/*min-width: 8vw;*/
	text-align: center;
	font-size: 1.3em;
	font-family: DistProTh;
	letter-spacing: 1px;
}

.navbar-nav>li>a:not(.active) {
    /*background-color: #111;*/
	color: #DDDDDD;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.nav>li>a:focus {
	background-color: transparent;
	background: transparent;
	border-color: transparent;
	color: #DDDDDD;
}

.nav>li>a:hover, .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: transparent;
	background: transparent;
	border-color: transparent;
	color: #FFFFFF;
}

.active {
	color: #FFFFFF;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.navbar-nav>li>a:not(.navbar-brand):hover {
	color: #FFFFFF;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.navbar-nav>li>a.navbar-brand:hover {
	/*background-color: #111;*/
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.searchbar {
	height: 100px;
	padding-left: 20px;
}

.navspan {
	display: inline-block;
	vertical-align: middle;
	line-height: 100px;
	font-size: 1.2em;
}

.title {
	padding-bottom: 20%;
}

.dropdown-menu {
	font-family: DistProTh;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.dropdown-menu.open {
	
}
.dropdown-menu>li>a {
	/*background-color: #111;*/
	
	padding: 12px;
	padding-left: 30px;
	padding-right: 5px;
	color: #DDDDDD;
	font-size: 1.3em;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.dropdowna, .dropdown-menu>li>a:hover {
	/*background-color: #ff4444;*/
	color: #FFFFFF;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

.dropdowna, .dropdown-menu>li>a {
	/*background-color: #ff4444;*/
	color: #FFFFFF;
	background-color: transparent;
	background: transparent;
	border-color: transparent;
}

/*  COLLAPSED NAVBAR  */

@media (max-width: 767px) {
	.brandimg {
		height: 50px;
		margin-top: -10px;
	}
	/*
	.navbar {
		overflow-y: hidden;
	}
	
	.navbar-collapse, .collapse {
		overflow-x: hidden;
	}
	*/
	
	.dropdown-menu {
		width: 90%;
		text-align: center;
	}
}



.hometext {
	width: 100%;
	display: block;
	margin: auto;
	margin-top: 8%;
	font-family: DistProTh;
	color: #FFFFFF;
}

.hometitle {
	display: block;
	font-size: 5em;
	color: #EEEEEE;
	letter-spacing: 10;
	text-align: center;
	max-width: 100%;
}

.homedescription {
	margin: 0;
	margin-top: 32%;
	font-size: 1.6em;
	color: #EEEEEE;
	text-align: center;
	padding-left: 20%;
	padding-right: 20%;
	padding-bottom: 16%;
}

@media (max-width: 767px) {
	.hometitle {
		font-size: 4em;
	}
	.homedescription {
		padding-left: 10%;
		padding-right: 10%;
	}
}





.caro {
}

.carousel {
	padding-top: 2px;
	background-color: #DDDDDD;
}



.shopContainer {
	width: 100%;
	background-color: #EEEEEE;
	padding: 0;
	margin: 0;
}

.shopheader {
	background-color: #222;
	border-width: 0;
	border-top-width: 2px;
	border-style: solid;
	border-color: #DDDDDD;
	padding: 25px;
	color: #FFFFFF;
	text-shadow: 4px 4px 0px #7d77d8;
	font-family: DistProTh;
	font-weight: 100;
	letter-spacing: 22;
	font-size: 3.5em;
	text-align: center;
}

.shopitems {
	width: 100%;
	max-width: 1400;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	padding-top: 100px;
	background-color: #EEEEEE;
}

.shopitem {
	height: 350px;
	text-align: center;
}

.shopiteminner {
	margin: auto;
}

.shopitemimg {
	height: 250px;
	padding-top: 75px;
	padding-bottom: 75px;
	border: 8px #504aa5 solid;
	background-color: #222;
}

.shoprow {
	padding-bottom: 60px;
}




.login-dropdown {
	/*background-color: #111;*/
	color: #EEEEEE;
	padding: 15px;
	font-size: 1.4em;
}

.loginform {
	border: 1px solid #DDDDDD;
	/*background-color: #111;*/
	color: #333333;
	margin-bottom: 3px;
}

.loginbutton {
	background: transparent;
	color: #FFFFFF;
	border: 1px solid #FFFFFF;
	margin-top: 20px;
	padding: 8px 15px 8px 15px;
	font-family: DistProTh;
	font-size: 0.9em;
}





.contact {
	color: #FFFFFF;
	font-family: DistProTh;
	width: 100%;
	text-align: center;
	padding-top: 8%;
	padding-bottom: 30%;
}

.contactleft {
	font-size: 3em;
	text-align: right;
}

.contactright {
	text-align: left;
	font-size: 1.5em;
	border-width: 0;
	border-left-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-bottom: 10px;
	color: #DDDDDD;
}

.contactright>b {
	color: #FFFFFF;
}

@media (max-width: 767px) {
	.contactleft {
		font-size: 2em;
	}
	
	.contactright {
		font-size: 1em;
	}
}




.homedark {
	background-image: url("carbonfiber.jpg");
	background-size: 50%;
	color: #FFFFFF;
	font-family: DistProTh;
	width: 100%;
	padding: 10px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.homedark>.row>.col-md-5 {
	margin-top: 25px;
}

.homedark>.row>.col-md-5>h1 {
	font-size: 2.3em;
	padding: 0;
	margin: 0;
	font-weight: 600;
	letter-spacing: 2;
}

.homedark>.row>.col-md-5>p {
	border-width: 0;
	border-left-width: 4px;
	border-color: #504aa5;
	border-style: solid;
	padding: 0;
	margin-top: 28px;
	padding-left: 15px;
	font-size: 1.3em;
	color: #DDDDDD
}

.homedark>.row>.col-md-3 {
	padding: 15px;
}

.homeimg {
	width: 96%;
	margin: 2%;
}

.homeinfo {
}

.homedark>.row>.col-md-12 {
	text-align: center;
}

.homedark>.row>.col-md-12>.homebutton {
	background-color: #504aa5;
}

.homelight {
	background-color: #FFFFFF;
	color: #504aa5;
	font-family: DistProTh;
	width: 100%;
	padding: 10px;
	padding-top: 150px;
	padding-bottom: 150px;
}

.homelight>.row>div {
	
}

.homelight>.row>div>h1 {
	font-size: 4em;
	text-align: center;
	font-weight: 900;
}

.homelight>.row>div>h2 {
	font-size: 8em;
	text-align: center;
	font-weight: 900;
	margin-bottom: -20px;
}

.homelight>.row>div>p {
	font-size: 1.5em;
	text-align: center;
	color: #000;
}

.homelight>.row>div>p>b {
	color: #504aa5;
}

.homelight>.row>div>.divider {
	height: 2px;
	width: 20%;
	background-color: #504aa5;
	display: block;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
}

.homelight>.row>div>.homebutton {
	background-color: #504aa5;
	color: white;
	font-weight: 900;
	font-size: 1.5em;
	letter-spacing: 3;
	margin-top: 60px;
}

.homeimgbg {
	background-image: url("serverroom.jpg");
	background-repeat: no-repeat;
	background-size: cover
}

.homeimgbg>.hometitle {
	padding-top: 10%;
	padding-bottom: 50%;
}

@media (max-width: 767px) {
	.homedark>.row>div>h1, .homelight>.row>div>h1 {
		font-size: 3.2em;
	}
}



.footer {
	background-color: #222;
	padding-top: 30px;
	padding-bottom: 30px;
	width: 100%;
	color: #DDDDDD;
	font-family: DistProTh;
	font-weight: 900;
	text-align: center;
}

.footer>.row>div>.contact {
	display: block;
	text-align: center;
}

.footercontactimg {
	width: 75px;
	height: 75px;
	padding: 0;
	margin: 0;
}